parameters:
    level: 8
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#PHPDoc tag @var#'

